# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

src/uniqueUsername/backup.ts
src/uniqueUsername/onChangeName.ts