.ss_larger_text {
  font-size: 1.2rem;
}

.ss_grid {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ss_form {
  margin-top: -6rem;
}

.ss_form_error_label {
  color: #f44336;
  font-weight: 600;
  margin: 10px 0px;
}

.ss_div {
  margin-top: 1rem;
}

.ss_span {
  color: var(--ion-color-secondary);
}

.my_custom_spinner {
  color: var(--ion-color-primary);
}
