.ss-content-relative {
  position: relative;
}

.ss-modal-wrapper {
  width: 85%;
  z-index: 100;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ss-ion-card {
  padding: 1rem;
}

.ss-backdrop {
  opacity: 0.3;
}
